:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --color-1: #03045e;
  --color-2: #023e8a;
  --color-3: #0077b6;
  --color-4: #0096c7;
  --color-5: #00b4d8;
  --color-6: #48cae4;
  --color-7: #90e0ef;
  --color-8: #ade8f4;
  --color-9: #caf0f8;
  --container-width: 1200px;
}
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
  transition-duration: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

/* Menu hamburguesa */
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--color-1);
  color: var(--color-9);
}
.header h1 {
  text-align: center;
  margin: 0 auto;
}
section h2 {
  color: var(--color-3);
}
.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}
.panel {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 998;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-2);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.95s ease, opacity 0.95s ease;
}

.panel.is-active {
  transform: translateX(0);
  opacity: 0.8;
  visibility: visible;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-1);
}
.panel-btn .hamburger-inner,
.panel-btn .hamburger-inner::before,
.panel-btn .hamburger-inner::after,
.panel-btn.is-active .hamburger-inner,
.panel-btn.is-active .hamburger-inner::before,
.panel-btn.is-active .hamburger-inner::after {
  background-color: white;
}

.menu {
  width: inherit; /*Anchura de su contenedor*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-5);
  transition: all 0.3s ease;
}
.menu a:hover {
  font-weight: bold;
  color: var(--color-1);
  background-color: var(--color-8);
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button2:hover {
  background-color: red;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid green;
}

.button3:hover {
  background-color: green;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button4:hover {
  background-color: red;
  color: white;
}
.botones {
  display: flex;
  margin: 10px 10px 30px 30px;
  align-items: center;
  justify-content: center;
}

/* Scroll top button */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem+1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-1);
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: 0;
  border: 0;
}
.scroll-top-btn:hover {
  background-color: var(--color-9);
  color: #023e8a;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.dark-theme-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: 1vh;
  right: 80px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-1);
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: 0;
  border: 0;
}
.dark-theme-btn:hover {
  background-color: var(--color-9);
  color: #023e8a;
}
.dark-mode {
  background-color: var(--color-2);
  transition-duration: 0.4s;
  color: var(--color-9);
}
